*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;

}

.game-tittle {
    text-align: center;
    color: white;
    line-height: 5rem;
    background-color: #07294d;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.game-choices {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-choices .choice{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .3s;
}

.game-choices img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.game-choices .choice:hover{
    background-color: #07294d;

}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    gap: 30px;
    text-align: center;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    text-align: center;
  }

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }